.header {
  background: #ccc;
}
.content {
    flex: 1 1 auto;
}
.content__wrapper {
    display: flex;
    align-items: flex-start;
}
.slides__wrapper {

}
.content__info {
    width: 100%;

    background: yellow;
}
.content__img {
    width: 280px;
    height: 170px;

    margin: 15px 15px 15px 0;
    float: left;

    img {
        height: 100%;
        width: 100%;
    }
}
.side-1 {
    background: red;
    width: 150px;
}
.side-2 {
    background: green;
    width: 150px;
}
.footer {
  background: #ccc;
}